In [120]:
import pandas as pd
data=pd.read_csv("records.csv")
#data.drop(columns="Unnamed: 0", inplace=True)
print(data.dtypes)
data

Name                  object
AI matches played      int64
AI wins                int64
AI losses              int64
AI ties                int64
PvP matches played     int64
PvP wins               int64
PvP losses             int64
PvP ties               int64
dtype: object

,Name,AI matches played,AI wins,AI losses,AI ties,PvP matches played,PvP wins,PvP losses,PvP ties
0,ta,2,0,1,1,2,2,0,0
1,tb,1,0,0,1,2,0,2,0